<h3>Game of Life</h3>

<form action="/" method="post">
  <label for="grid">Grid Size</label>
  <input type="text" name="grid-size" id="grid">
  <label for="cells">Live Cells</label>
  <input type="text" name="live-cells" id="cells">
  <input type="submit" value="New Game">
</form>

<div class="cell-container">
  <% grid.each_with_index do |coordinate, index| %>
    <% if coordinate[1] > grid[index-1][1] %>
      <br/>
    <% end %>
    <div class="cell">
      <div class="v-align">
        <div class="cell-content">
          <%= game.cells[index] %>
        </div>
      </div>
    </div>
  <% end %>
</div>