<h3>Game of Life</h3>

<form action="/" method="post">
  <label for="grid">Grid Size</label>
  <input type="text" name="grid-size" id="grid">
  <label for="cells">Live Cells</label>
  <input type="text" name="live-cells" id="cells">
  <input type="submit" value="New Game">
</form>

<%= game.cells %>