<html>
<head>
  <title>Game Of Life</title>
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/application.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="layout">
  <%= yield %>
</div>
</body>
</html>