<div class="cell-container">
  <% game.current_matrix.each do |row| %>
    <div class="row">
      <% row.each do |column| %>
        <% if column == 1 %>
          <span class="cell selected"><%= column %></span>
        <% else %>
          <span class="cell"><%= column %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<script>

  $(document).ready(function() {
    $(document).on("click", ".submit-button", function() {
      event.preventDefault();
      ga.start();
    });
  });

  var render = new Render(".cell-container");

  var ga = new GameAdvancer();
  ga.init({
    onUpdatedBoard : function(gameData) {
      render.render(gameData);
    }
  });

</script>

<div class="center">
  <form action="/new" method="post">
    <input type="hidden" name="advance" value="true">
    <input type="submit" value="Start" class="submit-button">
  </form>
</div>