<div class="cell-container">
  <% game.current_matrix.each do |row| %>
    <div class="row">
      <% row.each do |column| %>
        <% if column == "1" %>
          <span class="cell selected"><%= column %></span>
        <% else %>
          <span class="cell"><%= column %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="center">
  <form action="/new" method="post">
    <input type="hidden" name="advance" value="true">
    <input type="submit" value="Advance" class="submit-button">
  </form>
</div>